h1 {
    color: rgb(16, 65, 114);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.component {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}


#spinner {
    margin-top: 30px;
    display: none;
}
