{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1/dist/chartjs-plugin-zoom.min.js"></script>
<link rel="stylesheet" href="{% static 'css/chart.css' %}" />

<div id="myChart">
  <canvas class="chartCanvas"></canvas>
  <div id="c1" class="chart-text">{{c1}}</div>
  <div id="c2" class="chart-text">{{c2}}</div>
  <div id="c3" class="chart-text">{{c3}}</div>
</div>

<i
  class="fas fa-download fa-2xl"
  id="downlaod-diagram"
  style="color: green"
></i>

<script>
  function enable_download(chart) {
    const downloadBtn = document.getElementById("downlaod-diagram");
    console.log(downloadBtn);
    downloadBtn.addEventListener("click", () => {
      let img_uri = chart.toBase64Image();
      const downloadLink = document.createElement("a");
      downloadLink.href = img_uri;
      downloadLink.download =
        "{{c1}}".split("(")[0] +
        "_" +
        "{{c2}}".split("(")[0] +
        "_" +
        "{{c3}}".split("(")[0] +
        ".png";
      downloadLink.click();
    });
  }

  function createXYValues(x, y, t, type) {
    xyValues = [];
    for (var i = 0; i < x.length; i++) {
      if (type == "Rectangle") {
        xyValues.push({ x: x[i], y: y[i], t: t[i] });
      } else {
        xyValues.push({
          x: x[i] + y[i] / 2,
          y: (y[i] * Math.sqrt(3)) / 2,
          t: t[i],
        });
      }
    }
    return xyValues;
  }

  function addPrefixToCurves(curves) {
    for (let i = 0; i < curves.length; i++) {
      curves[i] = "T : " + curves[i] + "°C";
    }
    return curves;
  }

  function draw(selected_type) {
    const graph = "{{curves}}";
    const parser = new DOMParser();
    const doc = parser.parseFromString(graph, "text/html");
    const jsonEncodedString = doc.documentElement.textContent;
    curve_list = JSON.parse(jsonEncodedString);
    const colors = ["red", "blue", "green"];

    for (var i = 0; i < curve_list.length; i++) {
      x = curve_list[i]["x1"];
      y = curve_list[i]["x2"];
      t = addPrefixToCurves(curve_list[i]["T"]);
      xyValues = createXYValues(x, y, t, selected_type);

      datasets.push({
        data: xyValues,
        showLine: true,
        borderColor: colors[i],
        backgroundColor: colors[i],
      });
    }

    for (var i = 0; i < curve_list.length; i++) {
      point_azeotrope = [];
      intersection = curve_list[i]["azeo"];
      if (intersection[0] == true) {
        if (selected_type == "Rectangle") {
          point_azeotrope.push({
            x: curve_list[i]["x1"][0],
            y: curve_list[i]["x2"][0],
          });
        } else {
          point_azeotrope.push({
            x: curve_list[i]["x1"][0] + curve_list[i]["x2"][0] / 2,
            y: (curve_list[i]["x2"][0] * Math.sqrt(3)) / 2,
          });
        }
      }

      if (intersection[-1] == true) {
        length = curve_list[i]["x1"].length;
        if (selected_type == "Rectangle") {
          point_azeotrope.push({
            x: curve_list[i]["x1"][length - 1],
            y: curve_list[i]["x2"][length - 1],
          });
        } else {
          point_azeotrope.push({
            x:
              curve_list[i]["x1"][length - 1] +
              curve_list[i]["x2"][length - 1] / 2,
            y: (curve_list[i]["x2"][length - 1] * Math.sqrt(3)) / 2,
          });
        }
      }
      datasets.push({
        data: point_azeotrope,
        showLine: false,
        pointRadius: 10,
        pointBackgroundColor: colors[i],
      });
    }

    return new Chart(ctx, {
      type: "scatter",
      data: {
        labels: t,
        datasets: datasets,
      },
      options: {
        responsive: true,
        maintainAspectRatio: true,
        aspectRatio: 1,
        plugins: {
          legend: {
            display: false,
          },
          zoom: {
            zoom: {
              wheel: {
                enabled: true,
              },
              pinch: {
                enabled: true,
              },
              mode: "xy",
            },
          },
        },

        layout: {
          padding: {
            left: 50,
            right: 50,
            top: 50,
            bottom: 50,
          },
        },
        tooltips: {
          mode: "index",
          intersect: false,
        },
        hover: {
          mode: "nearest",
          intersect: true,
        },
      },
    });
  }

  function get_baseTriangle(type) {
    x = [0, 1, 0, 0];
    y = [0, 0, 1, 0];

    if (type == "Rectangle") {
      return [
        { x: 0, y: 0 },
        { x: 1, y: 0 },
        { x: 0, y: 1 },
        { x: 0, y: 0 },
      ];
    } else {
      return [
        { x: 0, y: 0 },
        { x: 1, y: 0 },
        { x: 1 / 2, y: Math.sqrt(3) / 2 },
        { x: 0, y: 0 },
      ];
    }
  }

  function add_diagram(checkedOption) {
    if (chart) {
      chart.destroy();
    }
    checkedOption = document.querySelector(
      'input[name="option"]:checked'
    ).value;

    datasets = [
      {
        data: get_baseTriangle(checkedOption),
        showLine: true,
        borderColor: "black",
        backgroundColor: "black",
        legend: false,
      },
    ];

    diagram.style.width = "50%";
    chart = draw(checkedOption);
    chart.render();
    setTimeout(() => {
      enable_download(chart);
    }, 200);
  }

  const ctx = document.querySelector(".chartCanvas").getContext("2d");
  const radioGroup = document.querySelector(".radio-group");
  const diagram = document.getElementById("diagram-container");
  var checkedOption = document.querySelector(
    'input[name="option"]:checked'
  ).value;
  var chart;

  add_diagram();
  radioGroup.addEventListener("change", () => {
    add_diagram();
  });
</script>
