{% extends 'ternary_azeotrope/layout.html' %} {% load static %} {% block title%}
Home {%endblock%} {% block head %}

<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<script
  type="text/javascript"
  src="{% static 'js/index.js'%}"
  charset="utf-8"
></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
<script
  type="text/javascript"
  src="{% static 'js/menu.js' %}"
  charset="utf-8"
></script>

{% endblock %} {% block content %}
<div class="title-bar">
  {% include "ternary_azeotrope/menu.html" %}
  <div class="bar"></div>
  <h1 class="title">Ternary univolatility diagram generator</h1>
  <div class="bar"></div>
</div>
<div id="index-content">
  <div id="main">
    <div class="model">
      <label>Pessure-Temperature equation</label>
      <span class="value">ANTOINE</span>
      <label>Thermodynamic model</label>
      <span class="value">NRTL</span>
    </div>

    <form
      action="{% url 'run' %}"
      method="post"
      class="container text-center"
      id="components-selection"
    >
      {% csrf_token %}
      <div id="componenetsSelection">
        <div class="component">
          <label>Compound 1</label>
          <select name="component1" class="form-select">
            {% for component in components %} {%if component.id == c1_selected%}
            <option value="{{ component.id }}" selected>{{ component }}</option>
            {% else %}
            <option value="{{ component.id }}">{{ component }}</option>
            {% endif %} {% empty %}
            <option value="">No compound available</option>
            {% endfor %}
          </select>
        </div>

        <div class="component">
          <label>Compound 2</label>
          <select name="component2" class="form-select">
            {% for component in components %} {%if component.id == c2_selected%}
            <option value="{{ component.id }}" selected>{{ component }}</option>
            {% else %}
            <option value="{{ component.id }}">{{ component }}</option>
            {% endif %} {% empty %}
            <option value="">No compound available</option>
            {% endfor %}
          </select>
        </div>

        <div class="component">
          <label>Compound 3</label>
          <select name="component3" class="form-select">
            {% for component in components %} {%if component.id == c3_selected%}
            <option value="{{ component.id }}" selected>{{ component }}</option>
            {% else %}
            <option value="{{ component.id }}">{{ component }}</option>
            {% endif %} {% empty %}
            <option value="">No compound available</option>
            {% endfor %}
          </select>
        </div>

        {% if message and type %}
        <div class="alert alert-{{type}}" role="alert">{{ message }}</div>
        {% endif %}
      </div>

      <div class="radio-group" style="margin-bottom: 20px">
        <input
          type="radio"
          name="option"
          id="option1"
          value="Rectangle"
          checked
        />
        <label for="option1">Rectangle</label>

        <input type="radio" name="option" id="option2" value="Equilateral" />
        <label for="option2">Equilateral</label>
      </div>

      <input
        id="submit-btn"
        type="submit"
        value="Run"
        class="btn btn-primary"
      />
      <input
        id="add-compound-btn"
        type="button"
        value="Add new compound"
        class="btn btn-primary"
      />

      <input
        id="add-relation-btn"
        type="button"
        value="Add new binary relation"
        class="btn btn-primary"
      />
    </form>

    <div class="d-flex justify-content-center">
      <div id="compound-form-container" style="display: none">
        <i
          class="fa-sharp fa-regular fa-circle-xmark fa-xl"
          id="close-compound"
        ></i>
        <form
          id="compound-form"
          action="{% url 'add_component' %}"
          method="post"
        >
          {% csrf_token %}
          <input
            type="text"
            id="name-input"
            placeholder="Compound Name"
            name="name"
            required
          />

          <input
            type="number"
            step="any"
            id="a-input"
            name="a"
            placeholder="A"
            required
          />
          <input
            type="number"
            step="any"
            id="b-input"
            name="b"
            placeholder="B"
            required
          />
          <input
            type="number"
            step="any"
            id="c-input"
            name="c"
            placeholder="C"
            required
          />
          <input type="submit" value="Save" class="btn btn-primary" />
          <i class="fa-solid fa-circle-info fa-2xl" id="tooltip-antoine"></i>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div id="relation-form-container" style="display: none">
        <i
          class="fa-sharp fa-regular fa-circle-xmark fa-xl"
          id="close-relation"
        ></i>
        <form
          id="relation-form"
          action="{% url 'add_relation' %}"
          method="post"
        >
          {% csrf_token %}
          <select name="component1" class="form-select" required>
            {% for component in components %}
            <option value="{{ component.pk }}">{{ component }}</option>
            {% endfor %}
          </select>

          <select name="component2" class="form-select" required>
            {% for component in components %}
            <option value="{{ component.pk }}">{{ component }}</option>
            {% endfor %}
          </select>

          <input
            type="number"
            step="any"
            name="a12"
            placeholder="A12"
            required
          />
          <input
            type="number"
            step="any"
            name="a21"
            placeholder="A21"
            required
          />
          <input
            type="number"
            step="any"
            name="alpha"
            placeholder="Alpha"
            required
          />
          <input type="submit" value="Save" class="btn btn-primary" />
          <i class="fa-solid fa-circle-info fa-2xl" id="tooltip-nrtl"></i>
        </form>
      </div>
    </div>

    <div class="tooltip-container" style="display: none" id="nrtl">
      PS: A is propotional to tau :
      <br />
      <img src="{% static 'img/nrtl_equation.png' %}" />
    </div>

    <div class="tooltip-container" style="display: none" id="antoine">
      The pressure of a compound i :
      <br />
      <img src="{% static 'img/antoine_equation.png' %}" />
    </div>

    {% if not curves %}
    <div
      id="spinner"
      class="spinner-border text-primary"
      role="status"
      style="display: none"
    ></div>
    {% endif %}
  </div>

  <div class="d-flex justify-content-center" id="diagram-container">
    {% if curves %} {% include "ternary_azeotrope/chart.html"%} {% endif %}
  </div>
</div>

{%endblock%}
