{% load static %}


<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compounds and Binary Relations</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="{% static 'js/table.js' %}"></script>

</head>


<body>
  <div class="table-container">
    <h2 id="table">Compounds for Antoine model</h2>
    <input type="text" id="compound-filter" placeholder="Search for a compound..." /><br /><br />
    <table id="compound-table">
      <thead>
        <tr>
          {% for key in component_keys %}
          <th>{{key}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for element in components %}
        <tr id="row{{ forloop.counter }}">
          <td noneditable="true">{{ element.id }}</td>
          <td editable="false">{{ element.name }}</td>
          <td editable="false">{{ element.a }}</td>
          <td editable="false">{{ element.b }}</td>
          <td editable="false">{{ element.c }}</td>
          <td editable="false">
            <button onclick="toggleEdit('row{{ forloop.counter }}')">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <i class="fa-solid fa-trash" onclick="Delete('{{element.id}}', '{{element.name}}')"></i>
          </td>

          <td editable="false">
            <button onclick="saveChanges('row{{ forloop.counter }}')" class="save-row">
              <i class="fa-solid fa-floppy-disk"></i>
            </button>
          </td>


          <td editable="false">
            <button onclick="cancelChanges('row{{ forloop.counter }}')" class="cancel-button">
              <i class="fas fa-times-circle"></i>
            </button>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="table-container">
    <h2 id="table">Binary relations for NRTL model</h2>
    <input type="text" id="search" onkeyup="perform_search()" placeholder="Search for compounds..." />
    <table id="binary-relations-table">
      <thead>
        <tr>
          {% for key in relation_keys %}
          <th>{{key}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for element in relations %}
        <tr>
          <td noneditable="true">{{ element.id }}</td>
          <td editable="false">{{ element.component1.name }}</td>
          <td editable="false">{{ element.component2.name }}</td>
          <td editable="false">{{ element.a12 }}</td>
          <td editable="false">{{ element.a21 }}</td>
          <td editable="false">{{ element.alpha }}</td>
          {% if element.sessions.all|length > 0 %}


          <td editable="false">
            <i class="fa-solid fa-trash"
              onclick="Delete_relation('{{element.id}}', '{{element.component1.name}}', '{{element.component2.name}}')"></i>
            <button onclick="cancelChangesBinaryRelations('row{{ forloop.counter }}')" class="cancel-button">
              <i class="fas fa-times-circle"></i>
            </button>
            <button onclick="saveChangesBinaryRelations('row{{ forloop.counter }}')" class="save-row">
              <i class="fa-solid fa-floppy-disk"></i>
            </button>
            <button onclick="toggleEditBinaryRelations('row{{ forloop.counter }}')">
              <i class="fas fa-pencil-alt"></i>
            </button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</html>