
<h2 id="table">Pure Compound table</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Acetate</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Methanol</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Hexane</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
    </tbody>
</table>

<h2 id="interaction">Binary interaction Coefficients</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Compound i</th>
            <th>Compound j</th>
            <th>a(i,j)</th>
            <th>a(j,i)</th>
            <th>Alpha(i,j)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Acetate</td>
            <td>Methanol</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Acetate</td>
            <td>Hexane</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Methanol</td
    <td>Hexane</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>

</tbody>
</table>
