<h2 id="table">{{title}}</h2>
<table>
  <thead>
    <tr>
      {% if keys%} {% for key in keys %}
      <th>{{key}}</th>
      {% endfor %} {% endif%}
    </tr>
  </thead>
  <tbody>
    {% if elements%} {% for element in elements%}
    <tr>
      <td>{{ element.id }}</td>
      {% if "name" in keys %}
      <td>{{ element.name }}</td>
      <td>{{ element.a }}</td>
      <td>{{ element.b }}</td>
      <td>{{ element.c }}</td>
      {% else %}
      <td>{{ element.component1 }}</td>
      <td>{{ element.component2 }}</td>
      <td>{{ element.a12 }}</td>
      <td>{{ element.a21 }}</td>
      <td>{{ element.alpha }}</td>
      {% endif %}
    </tr>
    {% endfor %} {% endif%}
  </tbody>
</table>
