.tooltip-container {
  text-align: center;
}

.tooltip-container img {
  width: 35%;
  margin: auto;
  display: block;
}

h1 {
  color: rgb(16, 65, 114);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

body {
  background-color: hsl(0, 0%, 98%);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-size: small;
}

.component {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

}

#index-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}


#main {
  position: relative;
  width: 50%;
  padding: 20px;
  flex-grow: 1;
  z-index: 1;

}

#diagram-container {
  width: 0%;
  padding: 20px;

}

.fa-circle-xmark {
  color: red;
  float: right;
}

.fa-circle-info {
  color: rgba(48, 150, 227, 0.767);
}

i:hover {
  border: none;
  outline: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.model {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 100px;
  margin-bottom: 50px;
}

.model>label {
  font-weight: bold;
  color: #1d352c;
  padding: 10px 0;
}

.model>.value {
  background-color: #f2f2f2;
  border-radius: 10px;
  flex-basis: 15%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0;
}


.component>label {
  margin-right: 10px;
  width: 200px;
  background-color: #cae5db;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}


select {
  flex: 1;
  margin-right: 10px;
}

.blocked {
  opacity: 0.6;
}

#spinner {
  margin-top: 30px;
  display: none;
  position: absolute;
  left: 50%;
}

.title-bar {
  background-color: #C2E7D9;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

}

.bar {
  width: 30px;
  height: 3px;
  background-color: #A6CFD5;
  margin: 0 10px;
  position: relative;
  z-index: 1;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.bar:before {
  top: -6px;
}

.bar:after {
  bottom: -6px;
}

.bar:hover:before,
.bar:hover:after {
  transform: scaleX(1);
}

.title {
  color: #26408B;
  font-size: 25px;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}

.title span {
  display: inline-block;
  animation-name: color-change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes color-change {
  from {
    color: #23c587;
  }

  to {
    color: #A6CFD5;
  }
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #1d352c;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}


.btn-primary.clicked {
  background-color: #05125a;
}


.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
  z-index: 0;
}

.btn:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover:after {
  left: 0;
}


#compound-form,
#relation-form {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 20px;

}

#compound-form input,
#relation-form input {
  height: 40px;
  width: 100px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

#compound-form input[type="text"] {
  width: 180px;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #cae5db;

}

.radio-group input[type="radio"]:checked+label {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}


.fa-square-question {
  color: rgba(154, 197, 230, 0.767);
}
